<head>
<style>
body
{
background-image: url('bg.jpg');
}
.container
{

background-color: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
</style>
</head>
<body>
        <div class="container" style="color: white">
<div class="span12">
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4 offset2">
</br></br>
<h1>Switter Search</h1>
</br>
</br>
</br>
<input type="text" text="enter the search term">
</div>
</div>	
</div>
	
        </div>
</body>

