<body>

<!-- body of the tweet to be rendered -->
</br>
	
        <div class="container" style="color: white">
         	<div class="span20">
     			<div class="row-fluid">
	    		  <div class="span4"></div>
		        	  </br></br>
			          <h1>Sentiment Analysis On Twitter Tweets (SAOTT)</h1>
			          </br></br>
			          <div>
						<div class="well" style="color: grey"><h2>Results For The SearchTerm " <%= $search_term %> " </h2></div>
						</br>
					  </div>
		         </div>
		    </div>
        </div>
        </br>
    <div class="navbar">
  		<div class="navbar-inner">
     		<ul class="nav">
     			<li class="active"><a href="homepage.html">HOMEPAGE</a></li>
      			<li><a href="tweetbase.html">TWEET BASE</a></li>
      			<li><a href="charts.html" target="_parent">CHARTS</a></li>
      			<li><a href="sources.html" target="_parent">SOURCES</a></li>
      		</ul>
  		</div>
	</div>
	<div class="well well-large" id="welcomenote">
	    <button class="btn btn-primary" type="button" id="design"><a href="othercharts.html/design" target="_blank">SOURCES</a></button>
	    <div id=results>
	    add charts here
		</div>
	</div>

</body>

