<!-- this page renders the tweets from the twitter server via machine -->
<h2>Live Stream Of Tweets For The Given Search Term</h2>
<%= @text.each do |tweet| %>
<div class="alert alert-info">
<%= tweet.text %>
</br>
</div>
<% end %>
